#############################################
# Terraform
#############################################

# Local Terraform directories
.terraform/
.terraform.tfstate.lock.info

# Terraform state files (NEVER commit)
terraform.tfstate
terraform.tfstate.*
*.tfstate
*.tfstate.*

# Sensitive variable files (NEVER commit)
*.tfvars
*.auto.tfvars


# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
*.coverage

# Virtual environment
.venv/
env/
venv/

# Lambda deployment packages
lambda/*.zip
*.zip



# LocalStack volumes & machine cache
.localstack/
localstack/
*.localstack
localstack/volume/

# Docker build artifacts
*.pid
*.log
logs/
docker-data/



.vscode/
.idea/
.DS_Store
Thumbs.db


# Temp files
*.tmp
*.bak
*.swp

# Test files
test.txt
test2.txt

